// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #fc7c00;
$dark: #141b22;
$body-color: #fff;
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here 